* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}
*:focus {
    outline: none;
}

body {
    font-family: 'Amatic SC', cursive;
    background: rgb(62,80,92);
    background: linear-gradient(0deg, rgba(62,80,92,1) 0%, rgba(61,135,113,1) 100%);
    background-attachment: fixed;
}
main {
    max-width: 1000px;
    padding: 0 100px;
    margin: 0 auto;
    overflow: hidden;
}
h2 {
    font-weight: normal;
    max-width: 30%;
    margin: 10px;
    padding: 0 20px;
    margin-left: 0;
    color: #FFFFFF;
    position: relative;
    
    box-sizing: border-box;
}
h2::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 24px solid transparent;
    border-right: 24px solid white;
    top: 0;
    right: 0;
}
h1 {
    background-color: mediumturquoise;
    font-weight: normal;
    max-width: 50%;
    margin: 10px;
    padding: 0 20px;
    margin-left: 0;
    color: #FFFFFF;
    position: relative;
}
h1::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-right: 30px solid white;
    top: 0;
    right: 0;
}
.envelope-container {
    cursor: pointer;
    position: relative;
    transform: matrix(1, 0, 1, 0.5, 0, 0) scale(0.12,0.1);
    box-shadow: -30px 50px 0 rgba(0,0,0,0.42);
    transition: all 0.6s;
}
.envelope-container:hover {
    box-shadow: -230px 250px 0 rgba(0,0,0,0.42);
    transform: matrix(1, 0, 1, 0.5, 0, -10) scale(0.12,0.1);
}
.envelope-container:focus {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1,1);
    box-shadow: none;
}
.envelope-container::after {
    content: "Hover It!";
    display: block;
    transform: matrix(1, 0, -2, 2, 0, 0) scale(20,20);
    position: absolute;
    top: -35%;
    padding: 10px;
    right: 0;
    color: #fff;
}
.envelope-container:hover::after {
    content: "Click It!";
}

.envelope-content {
    background-color: #FFFFFF;
    width:1000px;
    font-size: 1.5rem;
    padding: 10px 0;
}


/* INFO BLOCK */

.info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
}
.info div {
    width: 50%;
    padding: 20px;
}
.info .contacts ul {
    list-style: none;
}
.fa-check {
    color: teal;
}
.fa-times {
    color: orangered;
}

/* LIFE BAR */

.life {
    position: relative;
    margin: 30px 20px 50px 20px;
}
.life::after {
    content: "";
    width: 100%;
    display: block;
    border-top: 3px dashed black;
    position: absolute;
    bottom: 0;
}
.life div {
    display: inline-block;
    border-radius: 20px;
    position: relative;
    padding: 20px 20px 60px 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.life div:nth-of-type(1){
    background-color: #fdb30888;
    width: 50%;
}
.life div:nth-of-type(2){
    background-color: #5ccfc188;
    width: 20%;
    margin-left: -20px;
}
.life div:nth-of-type(3){
    background-color: #f03a2188;
    width: 25%;
}
.life div::after {
    display: block;
    position: absolute;
    bottom: -40px;
    font-size: 1rem;
    border-left: 2px solid black;
    padding: 20px 0 0 5px;
    margin-left: -20px;
}
.life div:nth-of-type(1)::after {
    content: "2007 Univercity of Minsk";
}
.life div:nth-of-type(2)::after {
    content: "2009 Art Academy";
}
.life div:nth-of-type(3)::after {
    content: "2010 Univercity of Minsk";
}

/* SKILLS */

.skills h2 {
    background-color: orange;
}
.skills ul {
    margin: 20px 20px 40px;
    list-style: none;
}
.skills ul li {
    margin-bottom: 24px;
    padding-left: 20px;
    width: 220px;
    position: relative;
}
.skills ul li::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 9px;
    height: 20px;
    width: 60px;
    transform: skewY(-15deg)
}
.skills ul li::after {
    display: block;
    text-align: right;
    padding-right: 20px;
    position: absolute;
    left: 180px;
    top: 17px;
}
.skills ul li:nth-of-type(1) {
    background-color: #cd825b;
}
.skills ul li:nth-of-type(2) {
    background-color: #98b8b7;
}
.skills ul li:nth-of-type(3) {
    background-color: #b54d3e;
}
.skills ul li:nth-of-type(4) {
    background-color: #cda850;
}
.skills ul li:nth-of-type(5) {
    background-color: #c78a60;
}
.skills ul li:nth-of-type(1)::before {
    background-color: #a85336;
}
.skills ul li:nth-of-type(2)::before {
    background-color: #5b7676;
}
.skills ul li:nth-of-type(3)::before {
    background-color: #7e3429;
}
.skills ul li:nth-of-type(4)::before {
    background-color: #a98c44;
}
.skills ul li:nth-of-type(5)::before {
    background-color: #a44f34;
}
.skills ul li:nth-of-type(1)::after {
    content: "78%";
    width: 580px;
    background-color: #e7945e;
}
.skills ul li:nth-of-type(2)::after {
    content: "87%";
    width: 670px;
    background-color: #b6dcd7;
}
.skills ul li:nth-of-type(3)::after {
    content: "56%";
    width: 360px;
    background-color: #df6451;
}
.skills ul li:nth-of-type(4)::after {
    content: "70%";
    width: 500px;
    background-color: #f5cb62;
}
.skills ul li:nth-of-type(5)::after {
    content: "100%";
    width: 700px;
    background-color: #eaa370;
}

/* EXPERIENCE */

.experience h2 {
    background-color: teal;
}
.experience span.emphasis {
    background-color: yellow;
    display:  inline-block;
    border-radius: 3px;
    padding: 0 3px;
}
.experience .grid-wrapper {
    display: grid;
    width: 930px;
    margin: 20px;
    grid-gap: 10px;
    grid-template-columns: 25% 25% 25% 25%;
}
.experience div[class*=item] {
    border-radius: 20px;
    padding: 20px 10px;
}
.experience .grid-wrapper .item1 {
    grid-area: 1/1/9/2;
    background-color: #6db9ab;
}
.experience .grid-wrapper .item2 {
    grid-area: 1/2/5/3;
    background-color: #b6dcd6;
}
.experience .grid-wrapper .item3 {
    grid-area: 1/3/4/4;
    background-color: #ebb0b1;
}
.experience .grid-wrapper .item4 {
    grid-area: 1/4/4/5;
    background-color: #eaa776;
}
.experience .grid-wrapper .item5 {
    grid-area: 5/2/9/3;
    background-color: #df6251;
}
.experience .grid-wrapper .item6 {
    grid-area: 4/3/6/5;
    background-color: #bebdc2;
}
.experience .grid-wrapper .item7 {
    grid-area: 6/3/9/5;
    background-color: #e37955;
}